@page
@model Transport.Pages.Drivers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h3>Create Driver</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-item">
                <label asp-for="Driver.Name" class="control-label">Name</label>
                <input asp-for="Driver.Name" class="form-control" />
                <span asp-validation-for="Driver.Name" class="text-danger"></span>
            </div>
            <div class="form-item mt-2">
                <label asp-for="Driver.LicenseCategoryId" class="control-label">License Category</label>
                <select asp-for="Driver.LicenseCategoryId" class="form-control" asp-items="ViewBag.LicenseCategoryId">
                </select>
                <span asp-validation-for="Driver.LicenseCategoryId" class="text-danger"></span>
            </div>
            <div class="form-item mt-2">
                <label asp-for="Driver.VehicleId" class="control-label">Vehicle</label>
                <select asp-for="Driver.VehicleId" class="form-control" asp-items="ViewBag.VehicleId" onselectedindexchanged="onChangeLicenseCategory" runat="server">
                </select>
                <span asp-validation-for="Driver.VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <a asp-page="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary ml-1" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
